<section id="bossInfoPage">
  <ul class="pl20 pr20 bg-fff bbd7d7d7 f28 color-333">
    <li class="boss-info-item">上级编码：<span data-bind="text:bpPernr"></span></li>
    <li class="boss-info-item">上级姓名：<span data-bind="text:bpName"></span></li>
    <li class="boss-info-item">上级职务：<span data-bind="text:positionDesc"></span></li>
    <li class="boss-info-item">联系方式：<a class="line-unl color-0a85cc" data-bind='attr:{href:"tel:"+mobile()},text:mobile'></a></li>
    <!--<li class="boss-info-item" data-bind="click:call">联系方式：<a class="line-unl color-0a85cc" data-bind="text:mobile"></a></li>-->
  </ul>
</section>
