<section id="capacityDetailPage">
  <p class="title mb20 f30 color-333 bg-fff bbd7d7d7" data-bind="text: storeName"></p>
  <div class="pl20 bg-fff bbd7d7d7">
    <div class="column-option flex">
      <p class="label f28">月份</p>
      <p class="flex-1 tr color-333" data-bind="text: (new Date(+capaDate())).format('yyyy年MM月')"></p>
    </div>
    <div class="column-option flex">
      <p class="label f28">数据来源</p>
      <p class="flex-1 tr color-333" data-bind="text: sourceCodeDescr"></p>
    </div>
  </div>
  <p class="column-label f24">金额为POS机零售价</p>
  <div class="column-pos flex bbd7d7d7 f30">
    <p class="item flex-1">总金额(元)：<span class="num" data-bind="text: sumMoney">0</span></p>
    <p class="item flex-1">总数量(件)：<span class="num" data-bind="text: sumNumber">0</span></p>
  </div>
  <!-- 二级列表 start-->
  <ul class="list-capacity" data-bind="foreach: secondBrandVoList">
    <li class="item bbd7d7d7">
      <div class="info solid-bottom-e5e5e5">
        <p class="w50 dib vm type-capacity"><span data-bind="text: brandDesc"></span>容量</p><!--
        --><div class="w50 dib vm">
            <p class="color-999 mb15">总数量(件)：<span class="color-333" data-bind="text: sumNumber"></span></p>
            <p class="color-999">总金额(元)：<span class="color-333" data-bind="text: sumMoney"></span></p>
        </div>
      </div>
      <!--品牌列表 start-->
      <ul class="pl20 bg-fbfbfb solid-bottom-e5e5e5 f28" data-bind="foreach: thirdBrandVoList">
        <li class="item-brand pr20">
          <p class="w50 dib vm color-666" data-bind="text: brandDesc"></p><!--
       --><div class="w50 pt30 pb30 dib vm">
            <p class="mb20 color-666 tr">
              <input class="input-edit f28" readonly placeholder="填写数量" data-bind="attr: { value: sumNumber }"/>件
            </p>
            <p class="mt5 color-666 tr">
              <input class="input-edit f28" readonly placeholder="填写数量" data-bind="attr: { value: sumMoney }"/>元
            </p>
          </div>
        </li>
      </ul>
      <!--品牌列表 end-->
    </li>
  </ul>
  <!--二级列表 end-->
  <div class="p20 bg-fff bbd7d7d7">
    <p class="mb20 f28 color-666">备注</p>
    <textarea class="remark dib w boxb color-333" readonly placeholder="备注信息字数不可超过80字！" data-bind="text: remark() ? remark() : '无'"></textarea>
  </div>
</section>
