<section class="flex" id="knowledgeBasePage">
  <nav class="nav-know" style="overflow-y:scroll;">
    <div class="item-nav-know" data-bind="css:{active: collectSelected}, click: selectCollect">
      <img class="icon-nav-know" data-bind="visible: !collectSelected()" src="./images/icon/icon-collect@2x.2520d130.png" />
      <img class="icon-nav-know" data-bind="visible: collectSelected" src="./images/icon/icon-collect-active@2x.97ace49c.png" />
      <p>我的收藏</p>
    </div>
    <!-- ko foreach: knowledgeBaseList-->
      <div class="item-nav-know" data-bind="css:{active: isSelected}, click: $parent.selectKnowledgeBase">
        <img class="icon-nav-know" data-bind="attr:{src: isSelected() ? imgOn():imgOut()}" />
        <p data-bind="text: catFirstName">订单相关</p>
      </div>
    <!-- /ko -->
  </nav>
  <div class="flex-1 bg-fff">
    <!-- 我的收藏模块 start -->
    <article class="column-collect bg-fff" data-bind="visible: collectSelected">
      <!-- ko foreach:collectList -->
      <div class="item-collect flex p20 solid-bottom-f5f5f5" data-bind="click: $root.geToDetail">
        <div class="flex-1">
          <p class="color-333 f30" data-bind="text: paperTitle">标题</p>
          <p class="pt20 color-999 f24" data-bind="text: app.util.formatDateTime(collectTime)">2016-05-29 17:00:00</p>
        </div>
        <p class="btn-more"></p>
      </div>
      <!-- /ko -->
      <button class="btn btn-submit-hollow db bc mt30 pt20 pb20 pl50 pr50 none" data-bind="click: loadMoreCollectList">加载更多</button>
      <div class="f32 color-999 tc mt100 pt100" data-bind="visible:collectList().length == 0">暂无收藏</div>
    </article>
    <!-- 我的收藏模块 end -->

    <!-- 订单相关模块 start -->
    <!-- ko if: !collectSelected() && selectedKnowledgeBase() != null -->
      <article class="column-order">
        <ol data-bind="foreach: selectedKnowledgeBase().catList">
          <li>
            <div class="item-first-level flex" data-bind="click: $root.toggleSecondMenu">
              <p class="flex-1 ell w0" data-bind="text: ($index() + 1) + '.' + catSecondName()"></p>
              <p class="icon-first-level" data-bind="css:{active: isSelected}"></p>
            </div>
            <ul data-bind="foreach: paperList, visible: isSelected">
              <li class="item-second-level flex" data-bind="click: $root.geToDetail">
                <p class="flex-1 ell w0" data-bind="text: ($parentContext.$index() + 1) + '.' + ($index() + 1) + paperTitle"></p>
                <p class="btn-more"></p>
              </li>
            </ul>
          </li>
        </ol>
      </article>
    <!-- /ko -->
    <!-- 订单相关模块 end -->
  </div>
</section>
